<!DOCTYPE html>

<html>
	
<head>

	<title>Shopping Cart</title>
	

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



<div class="container">
	<div style="margin-top: 50px;"></div>

	


	<div   class="cart">

		<div   class="products">

			<div *ngFor="let data of data | paginate: { itemsPerPage: 1, currentPage: p }" class="product">

				<img   src="{{data.hinhAnh}}">

				<div class="product-info">

					<h3 class="product-name"> {{data.tenSP}} </h3>

					<h4  class="product-price">Quantity:{{data.soLuongDat}}    </h4>

					<h4 class="product-offer">Price:{{data.tongTien}}</h4>
                   

					

					
				</div>

			</div>

			

		</div> <br>
  
        

		
	</div>


</div>

      <pagination-controls  (pageChange)="p = $event"></pagination-controls>

</body>




</html>

<p>Address:{{diaChiGiaoHang}}</p>
<p>Phone number receiver: {{sdtNguoiNhan}}</p>
<p>Paid: {{daThanhToan}}</p>
<p>Status:{{trangThaiGiaoHang}}</p>
<p>Date order:{{ngayXuatDon}}</p>
<p>Total:{{tongHoaDon}}</p>


<button (click)="close()">Close</button>
