<app-layoutadmin></app-layoutadmin>
<div style="margin-left: 300px;font-size: 30px;">Danh sách khách hàng</div><br>
<button (click)="ExportTOExcel()" style="margin-left: 300px;background-color: #82C0E7;width: 200px;">Tải file excel</button>

<table class="styled-table" border="1" #TABLE #table>
  <thead>
    <tr>
      <th style="text-align: center">Email</th>
      <th style="text-align: center">Tên đăng nhập</th>
      <th style="text-align: center">Họ và tên</th>
      <th style="text-align: center">Số điện thoại</th>
      <th style="text-align: center">Địa chỉ</th>
    
      
      <th style="text-align: center">Trạng thái hoạt động</th>
   



    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of array ">

      <td> {{data.email}}</td>
      <td> {{data.tenDangNhap}}</td>
      <td> {{data.tenNguoiDung}}</td>
      <td> {{data.sDT}}</td>

      <td> {{data.diaChi}}</td>

      <td> {{data.conHoatDong}}</td>
    
     







    </tr>
  </tbody>
</table>
<body>



</body>