<app-layoutadmin></app-layoutadmin>
<link rel="stylesheet" type="text/css">
<div class="newproduct">
  Create New Product <button onclick="document.getElementById('id01').style.display='block'"
    style="width:auto;">Create</button>
  Download all product <button id="a2" (click)="download()">Download</button>
</div>
<div class="download">


</div>

<div>
  <form [formGroup]="formGroupSearch">
    <input formControlName="search" class="inputsearch" placeholder="Enter the name of the product you want to find"
      type="text" name="" id="">
  </form>

</div>
<div>
  <button (click)="searchCar()" class="btnsearch">Search</button>
</div>
<div>
  <button *ngIf="isSearch" class="btnallcar" (click)="getproduct()">All product</button>
</div>

<body>

  <div id="id01" class="modal">
    <div class="newproduct">
      <h3 style="color:white;">Create New Product </h3>
    </div>
    <app-layoutadmin></app-layoutadmin>
    <form [formGroup]="formGroupProduct">
      <div class="modal-content">
        <div class="container">
          <a (click)="cancleupdate()" style="margin-left:550px;color: red;font-size: 30px;cursor: pointer;"
            for="psw"><b>X</b> </a> <br>

          <label for="psw"><b>Name product</b></label>
          <small style="color: red;"
            *ngIf="(formGroupProduct.controls['tenSP'].invalid && formGroupProduct.controls['tenSP'].touched)  || checkfilltenSP  ">
            *Name product is required</small>
          <input formControlName="tenSP" type="text" required>

          <label for="psw"><b>Product type</b></label>

          <select formControlName="loaiSanPhamId" style="width: 100%;
           padding: 15px;
           margin: 5px 0 22px 0;
           display: inline-block;
           border: none;
           background: #f1f1f1;" required>
            <option *ngFor="let data of arrayproducttype" [ngValue]="data.loaiSanPhamId">{{data.tenLoaiSP}}</option>



          </select>
          <label for="psw-repeat"><b>Price</b></label>
          <small style="color: red;"
            *ngIf="(formGroupProduct.controls['giaTien'].invalid && formGroupProduct.controls['giaTien'].touched) || checkfillgiaTien  ">
            *Price is required</small>

          <input formControlName="giaTien" type="number" value="" name="psw-repeat" required>
         
          <label for="email"><b>Discount</b></label>
          <small style="color: red;"
            *ngIf="(formGroupProduct.controls['giamGia'].invalid && formGroupProduct.controls['giamGia'].touched ) || checkfillgiamGia ">
            *Discount is required</small>

          <input formControlName="giamGia" type="number" value="" name="email" required>
        

         
          <label for="psw"><b>Number of product</b></label>
          <small style="color: red;"
            *ngIf="(formGroupProduct.controls['soLuongConLai'].invalid && formGroupProduct.controls['soLuongConLai'].touched) || checkfillsoLuongConLai ">
            *Number of product is required</small>

          <input type="number" formControlName="soLuongConLai" value="" name="psw" required>
          
          <label for="psw"><b>Image</b></label>
          <small style="color: red;" *ngIf=" checkfillhinhAnh"> *Image is required</small>

          <input type="file" (change)="onFileSelected($event)" name="psw" required> <br> <br>


          <label for="email"><b>Product Information</b></label> <br>
          <small style="color: red;"
            *ngIf="(formGroupProduct.controls['moTa'].invalid && formGroupProduct.controls['moTa'].touched ) || checkfillmoTa ">
            *Product information is required</small>

          <textarea ng-model="myTextarea" formControlName="moTa" type="text" value=""
            placeholder="" style="width:580px;height:200px" required> </textarea>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"
              class="cancelbtn">Cancel</button>
            <button type="submit" (click)="Createproduct()" class="signupbtn">Create</button>
          </div>
        </div>
      </div>


    </form>

  </div>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  </script>

</body>

<body>



  <div id="id02" class="modal">
    <div class="newproduct">
      <h3 style="color:white;">Update my product </h3>

    </div>
    <app-layoutadmin></app-layoutadmin>
    <form [formGroup]="formGroupProduct">
      <div class="modal-content">
        <div class="container">
          <a (click)="cancleupdate()" style="margin-left:450px;color: red;font-size: 30px;cursor: pointer;"
            for="psw"><b>X</b> </a> <br>
            <label for="psw"><b>Name product</b></label>
            <small style="color: red;"
              *ngIf="(formGroupProduct.controls['tenSP'].invalid && formGroupProduct.controls['tenSP'].touched)  || checkfilltenSP  ">
              *Name product is required</small>
            <input formControlName="tenSP" type="text" required>
  
            <label for="psw"><b>Product type</b></label>
  
            <select formControlName="loaiSanPhamId" style="width: 100%;
             padding: 15px;
             margin: 5px 0 22px 0;
             display: inline-block;
             border: none;
             background: #f1f1f1;" required>
              <option *ngFor="let data of arrayproducttype" [ngValue]="data.loaiSanPhamId">{{data.tenLoaiSP}}</option>
  
  
  
            </select>
            <label for="psw-repeat"><b>Price</b></label>
            <small style="color: red;"
              *ngIf="(formGroupProduct.controls['giaTien'].invalid && formGroupProduct.controls['giaTien'].touched) || checkfillgiaTien  ">
              *Price is required</small>
  
            <input formControlName="giaTien" type="text" value="" name="psw-repeat" required>
           
            <label for="email"><b>Discount</b></label>
            <small style="color: red;"
              *ngIf="(formGroupProduct.controls['giamGia'].invalid && formGroupProduct.controls['giamGia'].touched ) || checkfillgiamGia ">
              *Discount is required</small>
  
            <input formControlName="giamGia" type="text" value="" name="email" required>
          
  
           
            <label for="psw"><b>Number of product</b></label>
            <small style="color: red;"
              *ngIf="(formGroupProduct.controls['soLuongConLai'].invalid && formGroupProduct.controls['soLuongConLai'].touched) || checkfillsoLuongConLai  ">
              *Number of product is required</small>
  
            <input type="text" formControlName="soLuongConLai" value="" name="psw" required>
            
          
  
          <label for="psw"><b>Image current </b></label>
          <br>
          <small style="color: red;" *ngIf=" checkfillhinhAnh"> *Image is required</small>
          <img *ngIf="!newimage" src="{{Image}}" width="100px" height="100px" alt=""> <br>
          <img *ngIf="newimage" src="{{imagePreview}}" width="100px" height="100px" alt=""> <br>
          <button class="updateimg" id="files" (click)="changenewimage()"
            onclick="document.getElementById('file').click(); return false">Update image</button>




          <input id="file" style="display: none;" type="file" (change)="onFileSelected($event)" name="file" required>
          <br> <br>


          <label for="email"><b>Product Information</b></label> <br>
          <small style="color: red;"
            *ngIf="(formGroupProduct.controls['moTa'].invalid && formGroupProduct.controls['moTa'].touched ) || checkfillmoTa ">
            * is required</small>

          <textarea ng-model="myTextarea" formControlName="moTa" type="text" value=""
            placeholder="Enter Email" style="width:580px;height:100px" required> </textarea>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id02').style.display='none' "
              class="cancelbtn">Cancel</button>
            <button type="submit" (click)="Updateproduct()" class="signupbtn">Change</button>
          </div>
        </div>
      </div>


    </form>

  </div>
  <script>
    // Get the modal
    var modal = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  </script>

</body>
<div style="font-size: 15px;" class="contain" *ngIf="novalue">No cars found</div>
<table *ngIf="!novalue" class="contain" border="1">
  <thead>
    <tr>
      <th style="text-align: center">Image</th>
      <th style="text-align: center">Name product</th>
      <th style="text-align: center">Price</th>
      <th style="text-align: center">Discount</th>
  
      <th style="text-align: center">Number of product</th>
      
      <th style="text-align: center">Details&Edit</th>
      <th style="text-align: center">Delete</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of array">

      <td> <img src="{{data.hinhAnh}}" width="100px" height="100px" alt=""> </td>
      <td> {{data.tenSP}}</td>
      <td> {{data.giaTien}}</td>
      <td> {{data.giamGia}}</td>
      <td> {{data.soLuongConLai}}</td>
     
      <td>  <svg style="color: #007bff;height:40px;" onclick="document.getElementById('id02').style.display='block'" 
         (click)="currentcar(data.sanPhamId)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg> </td>
      <td> <svg style="color: red;height:30px;" (click)="deleteproduct(data.sanPhamId)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg> </td>







    </tr>
  </tbody>
</table>