<app-layoutadmin></app-layoutadmin>
<link rel="stylesheet" type="text/css">
<div class="newproduct">
  Create New Product <button onclick="document.getElementById('id01').style.display='block'"
    style="width:auto;">Create</button>
  Download all product <button id="a2" (click)="download()">Download</button>
</div>
<div class="download">


</div>

<div>
  <form [formGroup]="formGroupSearch">
    <input formControlName="search" class="inputsearch" placeholder="Enter the name of the product you want to find"
      type="text" name="" id="">
  </form>

</div>
<div>
  <button (click)="searchCar()" class="btnsearch">Search</button>
</div>
<div>
  <button *ngIf="isSearch" class="btnallcar" (click)="getcar()">All car</button>
</div>

<body>

  <div id="id01" class="modal">
    <div class="newproduct">
      <h3 style="color:white;">Create New Product </h3>
    </div>
    <app-layoutadmin></app-layoutadmin>
    <form [formGroup]="formGroupCar">
      <div class="modal-content">
        <div class="container">
          <a (click)="cancleupdate()" style="margin-left:550px;color: red;font-size: 30px;cursor: pointer;"
            for="psw"><b>X</b> </a> <br>

          <label for="psw"><b>Name product</b></label>
          <small style="color: red;"
            *ngIf="(formGroupCar.controls['carName'].invalid && formGroupCar.controls['carName'].touched)  || checkfillcarName  ">
            *Name product is required</small>
          <input formControlName="carName" type="text" required>

          <label for="psw"><b>Product type</b></label>

          <select formControlName="companyName" style="width: 100%;
           padding: 15px;
           margin: 5px 0 22px 0;
           display: inline-block;
           border: none;
           background: #f1f1f1;" required>
            <option *ngFor="let data of arraycompany" [ngValue]="data.carCompanyName">{{data.carCompanyName}}</option>



          </select>
          <label for="psw-repeat"><b>Price</b></label>
          <small style="color: red;"
            *ngIf="(formGroupCar.controls['colour'].invalid && formGroupCar.controls['colour'].touched) || checkfillcolour  ">
            *Price is required</small>

          <input formControlName="colour" type="text" value="" name="psw-repeat" required>
          <label for="psw-repeat"><b>Price</b></label>
          <small style="color: red;"
            *ngIf="(formGroupCar.controls['carLife'].invalid && formGroupCar.controls['carLife'].touched) || checkfillcarLife  ">
            *Price is required</small>

          <input formControlName="carLife" type="text" value="" name="psw-repeat" required>
          <label for="email"><b>Discount</b></label>
          <small style="color: red;"
            *ngIf="(formGroupCar.controls['origin'].invalid && formGroupCar.controls['origin'].touched ) || checkfillorigin ">
            *Discount is required</small>

          <input formControlName="origin" type="text" value="" name="email" required>
        

         
          <label for="psw"><b>Number of product</b></label>
          <small style="color: red;"
            *ngIf="(formGroupCar.controls['numberOfSeats'].invalid && formGroupCar.controls['numberOfSeats'].touched) || checkfillnumberOfSeats  ">
            *Number of product is required</small>

          <input type="text" formControlName="numberOfSeats" value="" name="psw" required>
          
          <label for="psw"><b>Image</b></label>
          <small style="color: red;" *ngIf=" checkfillImage"> *Image is required</small>

          <input type="file" (change)="onFileSelected($event)" name="psw" required> <br> <br>


          <label for="email"><b>Product Information</b></label> <br>
          <small style="color: red;"
            *ngIf="(formGroupCar.controls['CarInformation'].invalid && formGroupCar.controls['CarInformation'].touched ) || checkfillCarInformation ">
            *Product information is required</small>

          <textarea ng-model="myTextarea" formControlName="CarInformation" type="text" value=""
            placeholder="" style="width:580px;height:200px" required> </textarea>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"
              class="cancelbtn">Cancel</button>
            <button type="submit" (click)="Createproduct()" class="signupbtn">Create</button>
          </div>
        </div>
      </div>


    </form>

  </div>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  </script>

</body>

<body>



  <div id="id02" class="modal">
    <div class="newproduct">
      <h3 style="color:white;">Update my product </h3>

    </div>
    <app-layoutadmin></app-layoutadmin>
    <form [formGroup]="formGroupCar">
      <div class="modal-content">
        <div class="container">
          <a (click)="cancleupdate()" style="margin-left:450px;color: red;font-size: 30px;cursor: pointer;"
            for="psw"><b>X</b> </a> <br>
            <label for="psw"><b>Name product</b></label>
            <small style="color: red;"
              *ngIf="(formGroupCar.controls['carName'].invalid && formGroupCar.controls['carName'].touched)  || checkfillcarName  ">
              *Name product is required</small>
            <input formControlName="carName" type="text" required>
  
            <label for="psw"><b>Product type</b></label>
  
            <select formControlName="companyName" style="width: 100%;
             padding: 15px;
             margin: 5px 0 22px 0;
             display: inline-block;
             border: none;
             background: #f1f1f1;" required>
              <option *ngFor="let data of arraycompany" [ngValue]="data.carCompanyName">{{data.carCompanyName}}</option>
  
  
  
            </select>
            <label for="psw-repeat"><b>Price</b></label>
            <small style="color: red;"
              *ngIf="(formGroupCar.controls['colour'].invalid && formGroupCar.controls['colour'].touched) || checkfillcolour  ">
              *Price is required</small>
  
            <input formControlName="colour" type="text" value="" name="psw-repeat" required>
            <label for="psw-repeat"><b>Price</b></label>
            <small style="color: red;"
              *ngIf="(formGroupCar.controls['carLife'].invalid && formGroupCar.controls['carLife'].touched) || checkfillcarLife  ">
              *Price is required</small>
  
            <input formControlName="carLife" type="text" value="" name="psw-repeat" required>
            <label for="email"><b>Discount</b></label>
            <small style="color: red;"
              *ngIf="(formGroupCar.controls['origin'].invalid && formGroupCar.controls['origin'].touched ) || checkfillorigin ">
              *Discount is required</small>
  
            <input formControlName="origin" type="text" value="" name="email" required>
          
  
           
            <label for="psw"><b>Number of product</b></label>
            <small style="color: red;"
              *ngIf="(formGroupCar.controls['numberOfSeats'].invalid && formGroupCar.controls['numberOfSeats'].touched) || checkfillnumberOfSeats  ">
              *Number of product is required</small>
  
            <input type="text" formControlName="numberOfSeats" value="" name="psw" required>
            
          
  
          <label for="psw"><b>Image current </b></label>
          <br>
          <small style="color: red;" *ngIf=" checkfillImage"> *Image is required</small>
          <img *ngIf="!newimage" src="{{Image}}" width="100px" height="100px" alt=""> <br>
          <img *ngIf="newimage" src="{{imagePreview}}" width="100px" height="100px" alt=""> <br>
          <button class="updateimg" id="files" (click)="changenewimage()"
            onclick="document.getElementById('file').click(); return false">Update image</button>




          <input id="file" style="display: none;" type="file" (change)="onFileSelected($event)" name="file" required>
          <br> <br>


          <label for="email"><b>Car Information</b></label> <br>
          <small style="color: red;"
            *ngIf="(formGroupCar.controls['CarInformation'].invalid && formGroupCar.controls['CarInformation'].touched ) || checkfillCarInformation ">
            * is required</small>

          <textarea ng-model="myTextarea" formControlName="CarInformation" type="text" value=""
            placeholder="Enter Email" style="width:580px;height:100px" required> </textarea>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id02').style.display='none' "
              class="cancelbtn">Cancel</button>
            <button type="submit" (click)="Updatecar()" class="signupbtn">Change</button>
          </div>
        </div>
      </div>


    </form>

  </div>
  <script>
    // Get the modal
    var modal = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  </script>

</body>
<div style="font-size: 15px;" class="contain" *ngIf="novalue">No cars found</div>
<table *ngIf="!novalue" class="contain" border="1">
  <thead>
    <tr>
      <th style="text-align: center">Image</th>
      <th style="text-align: center">Name product</th>
      <th style="text-align: center">Price</th>
      <th style="text-align: center">Discount</th>
  
      <th style="text-align: center">Number of product</th>
      <th style="text-align: center">Product type</th>
      <th style="text-align: center">Details&Edit</th>
      <th style="text-align: center">Delete</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of array">

      <td> <img src="{{data.Image}}" width="100px" height="100px" alt=""> </td>
      <td> {{data.carName}}</td>
      <td> {{data.colour}}</td>
      <td> {{data.numberOfSeats}}</td>
      <td> {{data.numberOfSeats}}</td>
      <td> {{data.companyName}}</td>
      <td> <button onclick="document.getElementById('id02').style.display='block'" (click)="currentcar(data._id)"
          style="width:auto;">Details&Edit</button> </td>
      <td> <button (click)="deleteCar(data._id)" class="cancelbtn">Delete</button> </td>







    </tr>
  </tbody>
</table>