<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Car Dealer Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
	</head>
    <app-layout></app-layout>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				
			

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Tìm kiếm sản phẩm của bạn </h1>
							</header>
							<div class="content">
								<p>Liên hệ chúng tôi để tìm được sản phẩm mà bạn thích</p>
								<ul class="actions">
									<li><a [routerLink]='["/contactus"]' class="button next scrolly"> Liên hệ </a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							
							
							<section class="tiles">
								<article style="border:2px solid black" *ngFor="let data of array">
									<span  class="image">

										<a  style="cursor: pointer;"><img   src="{{data.hinhAnh}}" width="340px" height="200px" alt="kjkkkkkk" /></a>
										{{data.tenSP}}
										<p> <strong> {{data.giaTien.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })}}</strong></p>
									</span>

								</article>
								

								
							</section>
							
							
							<section>
								<div class="inner">
									<header class="major">
										<h2>Thông tin về chúng tôi</h2>
									</header>
										<p style="text-align: left;">
											LT Shop là một sàn giao dịch thương mại điện tử, cung cấp sản phẩm đồ gia dụng khác nhau khác nhau như quạt , tủ lạnh, tivi , đồ dùng nhà bếp,..
											<br>
										</p>
										<p style="text-align: left;"> 
										✪ Là mô hình market place – là trung gian trong quy trình mua bán online<br>
										✪ Đại lý các sản phẩm của Sunhouse<br>
										✪ Chăm sóc khách hàng từ đội ngũ chuyên nghiệp 24/7 <br>
										✪ Tận dụng các công cụ đắc lực hỗ trợ cho việc bán hàng. <br>
										✪ Quy trình bán hàng trên LT Shop đơn giản, thuận tiện
										</p>									<ul class="actions">
										<li><a [routerLink]='["/aboutus"]' class="button next">Read more</a></li>
									</ul>
								</div>
							</section>

							<!-- Blog Posts -->
						

						
						
					</div>

			

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/fonts/fontawesome-webfont.ttf"></script>
			<script src="assets/fonts/fontawesome-webfont.svg"></script>

	</body>
</html>